In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('DATA/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'], sep=',\s', na_values=["?"])
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Malim\AppData\Local\Temp\ipykernel_54212\749534377.py:1: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('DATA/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'], sep=',\s', na_values=["?"])
C:\Users\Malim\AppData\Local\Temp\ipykernel_54212\749534377.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('DATA/adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'], sep=',\s', na_values=["?"])

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
print(f"Число столбцов: {len(df.columns)}")

Число столбцов: 15

In [22]:
print(df.isnull().sum())

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [23]:
print(f"Кол-во уникальных значений в `race`: {df['race'].nunique()}")

Кол-во уникальных значений в `race`: 5

In [24]:
print(f"Медиана `hours-per-week`: {df['hours-per-week'].median()}")

Медиана `hours-per-week`: 40.0

In [25]:
male = df.query('income==">50K" & sex=="Male"').sex.count()
female = df.query('income==">50K" & sex=="Female"').sex.count()
print("патриархат" if male > female else "равноправие" if male == female else "матриархат")

патриархат

In [26]:
df = df.fillna(df.mode().iloc[0])
print(f"теперь пропусков: {df.isnull().sum().sum()}")

теперь пропусков: 0